{% extends 'base.html' %}

{% block title %}
<title>Edit Book</title>
{% endblock title %}

{% block content %}
<div class="container" style="align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;">
    <div class="card" style="width: 50rem; position: relative;">
      <div class="card-header">
          Update your book!
      </div>
      <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Book title</label>
            {{ book_form.title }}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            {{ book_form.author }}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Here the content</label>
            {{ book_form.content }}
          </div>

          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
</div>
{% endblock content %}
