{% extends 'base.html' %}

{% block content %}
    {% for user in users %}
        <a href="/lib/{{ user.id }}">{{ user.username }}</a>
        <br>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ user_form }}
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
